services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test@123
      POSTGRES_DB: fastapi_db
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/app     # Map project root to /app in container
    depends_on:
      - db

  test:
    build: .
    command: pytest -v   
    volumes:
      - .:/app
    depends_on:
      - db 
    environment:
      - PYTHONPATH=/app

volumes:
  db-data: